# ==========================================
# MARL Project GitIgnore
# ==========================================

# --- Heavy Workspaces & Dependencies ---
# These are the main culprits for the 2GB error
IsaacLab/
vae_container/Vae/checkpoint/
vae_container/Vae/runs/
vae_container/Vae/*.log
vae_container/Vae/debug_epochs/
vae_container/Vae/outputs/
vae_container/Vae/debug_epochs_collision/
vae_container/Vae/warehouse_detection_dataset/
vae_container/Vae/*.png

environment/quadcopter_vel_control/outputs/
environment/QuadcopterVae/wandb/
environment/QuadcopterVae/logs/
environment/QuadcopterVae/outputs/
warehouse_detection_dataset/
environment/quadcopter_rnn/warehouse_3d/
environment/quadcopter_rnn/warehouse_3d_denser/

# --- Simulation & Video (Isaac Lab / Isaac Sim) ---
_isaac_sim/
_ext/
*.webm
*.mp4

# --- Machine Learning & Training Bloat ---
# Blocks all weights, data, and TensorBoard logs
*.pt
*.pth
*.npy
*.bin
Vae/checkpoints/
Vae/runs/
Vae/debug_epochs/
wandb/
**/logs/
**/outputs/
*.log
# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.DS_Store
.vscode/
.obsidian/

# --- ROS 2 ---
build/
install/
log/

# --- Datasets & Images ---
*-ubyte
*-ubyte.gz
*.png
*.jpg
*.jpeg
*.csv